* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-size: 21px;
  background: #F5F7FB;
}


/* Typography */

body {
  font-family: 'Inter' , sans-serif;
  color: #293264;
}


h1, h2, h3, p {
  margin: 0;
}

.app-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  min-height: calc(100vh - 60px);
  padding: 1em;
  justify-content: center;
  align-items: center;
  background-image: url("/blob-one.svg"), url("/blob-two.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

/* navbar */

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 32px 39px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.nav--github_link {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-decoration-line: none;
}

.nav--logo_icon {
  width: 30px;
  margin-right: 10px;
}

.nav--darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav--darkMode_icon, .nav--lightMode_icon {
  width: 30px;
  cursor: pointer;
  position:absolute;
  opacity:1;
  transition:opacity 0.5s linear;
}

.nav--logo_text {
  color: black;
}


/** game-start **/

.game-start--title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.15em;
}

.game-start--desc {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875em;
  margin-top: 2em;
}

.game-start--btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875em;
  border-radius: 15px;
  width: 200px;
  margin-top: 3em;
  transition: opacity 1s;
}


.game-start--btn:hover,
.game-start--btn:focus {
  outline: none;
  opacity: 0.8;
} 

.game-start--btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.game-start {
  display: flex;
  flex-direction: column;
  align-self: center ;
}


/** game-continue **/

.game-continue.container {
  gap: 2em;
}


/* quiz container */


.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}

.quiz-card{
  border-bottom: 0.794239px solid #DBDEF0;
  transform: rotate(-0.05deg);
}

.quiz-card--question {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875em;
}

.choices--container{
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  gap: 0.5em;
}

.choice {
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
  font-weight: 500;
  font-size: 0.64rem;
  line-height: 1.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  min-width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  background: #4D5B9E;
  color: #F5F7FB;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 0.64rem;
  line-height: 1.2em;
  padding: 1em 2em;
  cursor: pointer;
  transition: transform 1s , background-color 1s, color 1s;
}

button:hover,
button:focus {
  background-color: #fff180;
  transform: scale(1.1);
  color: black;
}

.play-again {
  display: flex;
  gap: 1em;
  align-items: center;
}

.score--text {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.25em;
}


@media (min-width: 877px) {
  html {
    font-size: 24px;
  }

  main {
    padding: 1.5em;
  }

  .container {
    max-width: 800px;
  }

}


